.main{
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    height: fit-content;
    margin-top: 100px;
    background-color: white;
    padding-top: 50px;
    margin-bottom: 100px;
    border-radius: 50px; 
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    height: fit-content;
    
    gap: 15px;
}

.abt-logo{
    width: 150px;
    height: 150px;

    border-radius: 50px;
}

.abt-logo-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 60px;

    padding: 8px;
}
.abt-logo-border{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 8px;
    background-color: black;
    border-radius: 65px;
}

.abt-role{
    background-color: #e6e7e8;
    color: #888888;

    font-weight: semi-bold;

    border-radius: 50px;
    padding: 10px;
}

.abt-name{
    font-size: 48px;
}
.abt-surname {
    color: white;
    
    /** ai'a söyledi */
    -webkit-text-stroke: 2px black;

    font-weight: bold;
}

.abt-desc{
    text-align: center;
    font-size: 24px;
    width: 700px;
    color: gray;
}
.nvg-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    gap: 10px;    
}
.nvg-btn-projects{
    width: 250px;
    border: none;
    color: white;
    background-color: black;
}
.nvg-btn{
    height: 50px;
    border-radius: 20px;
    transition: transform 0.4s ease;
    font-size: 16px;
    font-weight: bold;

}
.nvg-btn:hover{
    transform: translateY(-5px);
}
.nvg-btn-contact{
    width: 200px;
    
    color: black;
    background-color: white;
    border: 1px solid lightgray;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 20px;
    margin-top: 100px;

    background-color: #f8f9fa;
    border-radius: 50px;

    gap :20px;
    width: 100%;
}
.skills-title{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 100%;
    margin: 20px;
}

.skills-title h1{
    font-size: 36px;
    font-weight: bold;
}
.skills-title p{
    font-size: 16px;
    color: gray;
}

.skills-boxes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    max-width: 100%;
    gap: 40px;
    flex-wrap: wrap;
}
.skill-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 300px;
    height: 300px;

    background-color: white;
    border-radius: 50px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: transform 0.4s ease;
}
.skill-box h1{
    font-size: 18px;
    font-weight: bold;
}
.skill-box p{
    font-size: 14px;
    color: gray;
}
.skill-box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px rgba(181, 181, 181, 0.2);
}
.skill-icon{
    width: 70px;
    height: 70px;
    border-radius: 25px;
    background-color: lightgray;
    padding: 10px;
    color: white;
}

.tech-stack{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    gap: 50px;

    height: fit-content;
}

.ts-left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 40%;
    height: fit-content;
    gap: 20px;
}
.ts-left h1{
    font-size: 48px;
    font-weight: bold;
}
.ts-left p{
    font-size: 24px;
    color: gray;
}
.ts-education{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 90%;
    background-color: #f8fafc;
    border-radius: 35px;
    padding: 20px;
    gap: 20px;
}
.ts-education-logo{
    width: 40px;
    height: 40px;
    border-radius: 19px;
}
.ts-education-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 5px;
}
.ts-education-info h1{
    font-size: 18px;
    font-weight: bold;
}
.ts-education-info p{
    font-size: 14px;
    color: gray;
}

.ts-right{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    flex-wrap: wrap;
    gap: 20px;

    width: 100%;
}

.ts-box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
    border: 1px solid rgb(240, 239, 239);
    border-radius: 25px;

    padding: 20px;
    width: 300px;
    height: 300px;
    transition: transform 0.4s ease;
}
.ts-box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px rgba(160, 160, 160, 0.2);
}

.ts-box-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    gap: 10px;
}
.ts-box-header-icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.ts-box-header h1{
    font-size: 18px;
    font-weight: bold;
}


.ts-box-body{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 30px;
    border-radius: 20px;
    background-color: #f8fafc;
    text-align: center;
    padding: 20px;
    transition: scale 0.4s ease;
}
.tech p{
    text-align: center;
}
.tech:hover{
    background-color: black;
    color: white;
    width: fit-content;
    scale: 1.2;
}

@media (max-width: 768px) {
    
    .abt-name{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        flex-wrap: wrap;
    }
    .abt-surname{
        -webkit-text-stroke: 0.6px black;
    }
    .abt-desc{
        width: 300px;
        font-size: 12px;
    }
    .nvg-btns{
        flex-direction: column;
    }
    .nvg-btn-contact{
        width: 100%;
    }
    
    .skills{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skills-title{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .skills-boxes{
        flex-direction: column;
        margin-bottom: 25px;
    }
    .skill-box{
        align-items: center;
    }

    .tech-stack{
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .ts-left{
        align-items: center;
        justify-content: center;
    }

    
    .ts-left h1{
        font-size: 36px;
        text-align: center;
    }
    .ts-left p{
        font-size: 24px;
        text-align: center;
    }

    .ts-education{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        background-color: rgb(234, 238, 247);
    }
    
    .ts-education-info h1 {
        font-size: 20px;
    }
    .ts-education-info p{
        font-size: 16px;
    }

    .ts-right{
        justify-content: center;
        align-items: center;
    }
}