.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: fit-content;
}

.island{
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    border-radius: 50px;

    padding: 10px;
    padding: 5px, 10px;

    position: fixed;
    top: 20px;
    z-index: 1000;

}

.idle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 5px;
    position: relative;
}

.logo{
    width: 36px;
    height: 36px;
    border-radius: 50px;
}

.icon{
    width: 36px;
    height: 36px;

    border-radius: 50px;
    background-color: white;
}

.island-btn{
    width: 75px;
    height: 36px;

    border: none;
    border-radius: 50px;
    background-color: transparent;

    color: white;
}

.white-pill{
    width: 75px;
    height: 36px;

    border-radius: 50px;
    background-color: white;

    position: absolute;
    z-index: -1000;

    transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}


/* main */

.main{
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    height: fit-content;
    margin-top: 100px;
    background-color: white;
    padding-top: 50px;
    margin-bottom: 100px;
    border-radius: 50px; 
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    height: fit-content;
    
    gap: 15px;
}

.abt-logo{
    width: 150px;
    height: 150px;

    border-radius: 50px;
}

.abt-logo-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 60px;

    padding: 8px;
}
.abt-logo-border{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 8px;
    background: linear-gradient(135deg, #3d94ea 0%, #2ca2c3 50%, #18b294 100%);
    border-radius: 65px;
}

.abt-role{
    background-color: #eff6fe;
    color: #6297f5;

    font-weight: semi-bold;

    border-radius: 50px;
    padding: 10px;
}

.abt-name{
    font-size: 48px;
}
.abt-surname {
    background: linear-gradient(135deg, #4facfe 0%, #43e97b 100%);
    background-clip: text;

    color: transparent; 

    font-weight: bold;
}

.abt-desc{
    text-align: center;
    font-size: 24px;
    width: 700px;
    color: gray;
}
.nvg-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    gap: 10px;    
}
.nvg-btn-projects{
    width: 250px;
    border: none;
    color: white;
    background-color: black;
}
.nvg-btn{
    height: 50px;
    border-radius: 20px;
    transition: transform 0.4s ease;
    font-size: 16px;
    font-weight: bold;

}
.nvg-btn:hover{
    transform: translateY(-5px);
}
.nvg-btn-contact{
    width: 200px;
    
    color: black;
    background-color: white;
    border: 1px solid lightgray;
}



/* skills */
.skills{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 20px;
    margin-top: 100px;

    background-color: #f8f9fa;
    border-radius: 50px;

    gap :20px;
    width: 100%;
}
.skills-title{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 100%;
    margin: 20px;
}

.skills-title h1{
    font-size: 36px;
    font-weight: bold;
}
.skills-title p{
    font-size: 16px;
    color: gray;
}

.skills-boxes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    max-width: 100%;
    gap: 40px;
    flex-wrap: wrap;
}
.skill-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 300px;
    height: 300px;

    background-color: white;
    border-radius: 50px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: transform 0.4s ease;
}
.skill-box h1{
    font-size: 18px;
    font-weight: bold;
}
.skill-box p{
    font-size: 14px;
    color: gray;
}
.skill-box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px rgba(181, 181, 181, 0.2);
}
.skill-icon{
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background-color: lightgray;
}

.tech-stack{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    gap: 50px;

    height: fit-content;
}

.ts-left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 40%;
    height: fit-content;
    gap: 20px;
}
.ts-left h1{
    font-size: 48px;
    font-weight: bold;
}
.ts-left p{
    font-size: 24px;
    color: gray;
}
.ts-education{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 90%;
    background-color: #f8fafc;
    border-radius: 35px;
    padding: 20px;
    gap: 20px;
}
.ts-education-logo{
    width: 50px;
    height: 50px;
    border-radius: 19px;
    background-color: white;
}
.ts-education-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 5px;
}
.ts-education-info h1{
    font-size: 18px;
    font-weight: bold;
}
.ts-education-info p{
    font-size: 14px;
    color: gray;
}

.ts-right{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    flex-wrap: wrap;
    gap: 20px;

    width: 100%;
}

.ts-box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
    border: 1px solid rgb(240, 239, 239);
    border-radius: 25px;

    padding: 20px;
    width: 300px;
    height: 300px;
    transition: transform 0.4s ease;
}
.ts-box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px rgba(160, 160, 160, 0.2);
}

.ts-box-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    gap: 10px;
}
.ts-box-header-icon{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: lightblue;
}
.ts-box-header h1{
    font-size: 18px;
    font-weight: bold;
}


.ts-box-body{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.tech{
    width: fit-content;
    height: 30px;
    border-radius: 20px;
    background-color: #f8fafc;
    text-align: center;
    padding: 7px;
    transition: padding 0.4s ease;
}

.tech:hover{
    background-color: lightblue;
    color: white;
    padding: 7px 15px;
    transition: padding 0.4s ease;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    width: 97%;
    padding: 20px;
    gap: 10px;
    background-color: #f8fafc;
    border-radius: 50px;
}
.ft-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 40%;
}
.ft-logo{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-color: white;
}
.ft-left-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 5px;
}
.ft-left-info h1{
    font-size: 18px;
    font-weight: bold;
}
.ft-left-info p{
    font-size: 14px;
    color: gray;
}

.ft-right{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 60px;

    width: 60%;
    height: 100%;
}

.ft-block{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;


    gap: 5px;
    height: 100%;
}

.ft-block h1{
    font-size: 18px;
    font-weight: bold;
    color: #666
}

.ft-block-list{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}
.ft-block-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    transition: transform 0.4s ease;
}
.ft-block-item-logo {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
}

.ft-block-item:hover{
    color: blue;
    transform: translateX(5px);
}